/*
hex-colors:
backgournd: #000;
primary: #0cffdb;
secundary: #0caaff;
tertiary: #0cff62;
not-done: #ff0ca9;
*/

/*--- Navigation and basic properties ---*/
html {
	background-color: #000;
	color: #0cffdb;
}

.headNav {
	display: flex;
	justify-content: center;
}

.navItem{
	color: #0cffdb;
	text-decoration: none;
	margin: 2rem;
	font-size: 4rem;

}

.isActive {
	text-decoration: underline;
}

hr {
	color: #0caaff;
	width: 90%;
	border: 1rem solid #0067ff;
	border-radius: 1rem;
}


/*--- Index and Controller ---*/
/*Kid Display*/

#allKids {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.kidBox {
	border: 1rem solid #0cffdb;
	text-align: center;
	margin: 1rem 2rem 1rem 2rem;
}

.kidName {
	margin: 1rem 1rem 0 1rem;
	font-size: 3em;
}

.kidBirthday {
	margin: 1rem;
	font-size: 1em;
}

.kidButton{
	margin: 1rem;
}

.editKidButton {
	color: #0cffdb;
	font-size: 2em;
	text-decoration: none;
	border: 0.6rem solid #0caaff;
	padding: 0.2rem;
}

/*Present Display*/
#allPresents {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.presentBox {
	border: 1rem solid #0cffdb;
	text-align: center;
	margin: 1rem 2rem 1rem 2rem;
}
.doneBox{
	margin-top: 1rem;
}

.donePanel{
	border: 1rem solid #ff0ca9;
}

.isDone{
	border: 1rem solid #0cff62;
}

/*Index Dates*/
#datePicker {
	display: flex;
	justify-content: center;
	margin:1rem;
}

#datePicker > label {
	margin: 0rem 1rem 0 1rem;
	font-size: 2em;
}