<!DOCTYPE html>
<html>
<head>
	<title>BirthdayCalendar</title>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type="text/javascript" src="/static/js/headNav.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
	<nav id="headNav" class="headNav">
	</nav>
	<hr>

<div id = "addKidContainer">
	<h1>Add Kid</h1>

	<label for="addKidInputName">Name:</label>
	<input type="text" name="addKidInputName" id="addKidInputName" class="textInput">
	<label for="addKidInputBirthday">Birthday:</label>
	<input type="Date" name="addKidInputBirthday" id="addKidInputBirthday" class="textInput">

	<div class="editKidButton">
		<div>
			Add
		</div>
	</div>
</div>

</body>
</html>